<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Addy's Backbone Book</title>
  <link rel="stylesheet" href="assets/css/normalize.css" />
  <link rel="stylesheet" href="assets/css/main.css" />

  <script src="assets/js/libs/modernizr.js"></script>
  <script src="assets/js/libs/jquery.js"></script>
  <script src="assets/js/libs/underscore.js"></script>
  <script src="assets/js/libs/backbone.js"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">work</a></li>
        <li><a href="#">social</a></li>
      </ul>
    </nav>
    <h1>Tony Brown</h1>
    <h2>Web developer</h2>
  </header>
  <section id="main">
    <article>
      <h1>Main Content</h1>
      <section id="content">
        <p>This is some content from Backbone.js</p>
        <script type='text/template'id='item-template'>
          <div>
            <input type="checkbox" id="todo_complete" <%= completed ? 'checked="checked"' : '' %>>
            <%= title %>
          </div>
        </script>
        <ul id="output"></ul>
        <footer>
          <p>We are simple outputting from a Backbone model without using any views yet.</p>
        </footer>
      </section>
    </article>
    <aside class="sidebar">
      <h2>I'm the sidebar</h2>
    </aside>
  </section>
  <footer id='main-footer'>
    <h2>Main footer</h2>
  </footer>
  <script src='assets/js/app.js'></script>
  <script src='assets/js/view.js'></script>
</body>
</html>
